.container {
  padding-bottom: 212px;
}
.logo {
  display: block;
  width: 250px;
  margin: 70px auto 50px;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 207px;
  height: 37px;
  border-radius: 19px;
  background-color: rgba(234, 231, 242, 0.5019607843137255);
  border: 1px solid #390e84;
  font-size: 18px;
  letter-spacing: 1px;
  color: #390e84;
  font-weight: bold;
  font-family: 'Candara';
  outline: none;
}

.enterBtn {
  composes: btn;
  margin-bottom: 20px;
}
/* 
.btnCreate {
  composes: btn;
  margin-bottom: 212px;
} */
